@import "../../variables";

.user {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  box-sizing: border-box;
  width: 420px;
  padding: 10px;

  background-color: $gray;
  border-radius: 8px;

  &__outter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    gap: 10px;
  }

  &__link {
    cursor: pointer;

    font-size: 14px;
    color: $general;

    background-color: transparent;
    border: none;
  }

  &__termin {
    color: $termin;
  }
}
