.user-page {
  box-sizing: border-box;
  width: calc(100% - 220px);
  padding: 0 40px 0 35px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &__button-edit {
    height: 35px;
  }
}
